.watchtower {
	background-image: url(../imgs/watchtower_resized.jpg);
}

.cityscape {
	background-image: url(../imgs/cityscape_resized.jpg);
}

.forestvalley {
	background-image: url(../imgs/forestvalley_resized.jpg);
}

.sunset {
	background-image: url(../imgs/sunset.jpg);
}

.legos {
	background-image: url(../imgs/legos.jpg);
}

.mountains {
	background-image: url(../imgs/mountains.jpg);
}

.desert {
	background-image: url(../imgs/desert.jpg);
	background-position: bottom;
}

.desert2 {
	background-image: url(../imgs/desert2.jpg);
	background-position: bottom;
}
