.forestvalley {
	background-image: url(../imgs/forestvalley_resized-min.jpg);
}

.legos {
	background-image: url(../imgs/legos-min.jpg);
}

.mountains {
	background-image: url(../imgs/mountains.jpg);
}

.cliffs {
	background-image: url(../imgs/cliffs-min.jpg);
	background-position: top;
}

.desert {
	background-image: url(../imgs/desert-min.jpg);
	background-position: bottom;
}

.desert2 {
	background-image: url(../imgs/desert2-min.jpg);
	background-position: bottom;
}
