
.pageContainer {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
}

.gutter {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    height: 85vh;
    width: 15vw;
    overflow: hidden;
}

.mainDisplay {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 70vw;
    overflow: hidden;
}

div[name=corner] {
    background-color : transparent;
    box-sizing: border-box;
    display: inline-block;
}

div[name=clue] {
    border: 2px solid lightgrey;
    box-sizing: border-box;
    border-radius: 100%;
    display: inline-block;
    transition: .3s;
}

div[name=square] {
    border: 2px solid lightgrey;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 7%;
    transition: .1s;
}

div[name=square]:hover {
    border: 1px solid lightgrey;
}

.grid-style {
    width : 65vmax;
    height : 65vmax;
    max-height: 85vmin;
    max-width: 85vmin;
    display : flex;
    flex-flow : wrap;
}

.swatch {
    width: 100%;
    /* height: 12vw; */
    border-radius: 100%;
    font-size: 16vw;
}

i {
    -webkit-text-fill-color: currentColor;
}

.fa-refresh:hover {
    -webkit-text-fill-color: white;
    text-shadow: 1px 1px 5px black;
}


@media screen and (orientation:portrait) {
    .pageContainer {
        height: 80vh;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .pageContainerPlay {
        height: 85vh;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    
    .gutter {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100vw;
        height: 15%;
        overflow: hidden;
    }
    
    .mainDisplay {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70%;
        width: 100vw;
        overflow: hidden;
    }

    .swatch {
        width: 100%;
        font-size: 12vh;
        border-radius: 100%;
    }

    .gridSizeIcon {
        height: 100%;
    }
}

@media screen and (orientation:landscape) {
    .gridSizeIcon {
        width: 95%;
    }
}