.watchtower {
    background-image: url(./imgs/watchtower_resized.jpg);
}

.cityscape {
    background-image: url(./imgs/cityscape_resized.jpg);
}

.forestvalley {
    background-image: url(./imgs/forestvalley_resized.jpg);
}