/*ublockMe///////////////////////////////*/
.gameBoardDiv{
    width: 100vw;
    height: 100vw;
    background-image: url("../imgs/dark_embroidery.png");
    border: 2px solid black
}
.creationBoardDiv{
    border-radius: 2px;
    border: 2px solid black;
    width: 100vw;
    height: 100vw;
    background-image: url("../imgs/dark_embroidery.png");
}

.gameArea{
    padding: 0;
    width: 100vw;
    height: 100vw;
    background-color: blue;
}
.pieceDiv{
    width: 96vw;
    height: 96vw;
}

.gamePiece{
    border: solid;
    box-sizing: border-box;
    position: absolute;
    background-image: url("../imgs/darkness.png");
    border-radius: 3px;
}
.starterPiece{
    background-image: url("../imgs/upfeathers.png");
}

.dropDownLabel{
    color: red;
    font-size: 4vw;
}

.form-group-block {
    background-color: transparent;
    height: 10vw;
}
.form-control-block {
    padding: 0;
    display: inline-block;
    width: 20vw;
    height: 10vw;
    font-size: 4vw;
    text-align: center;
}
#typeDropDown{
    background-color: black;
    border: 2px solid #0271d1;
    color: #0271d1;
    height: 7vw;
}
#sizeDropDown{
    height: 7vw;
    background-color: black;
    border:2px solid #0271d1;
    color: #0271d1;
}
.create_piece_button{
    border-radius: 5px;
    font-size: 4vw;
}
.unBlock_playButton{
    border-radius: 5px;
    font-size: 4vw;
    background-color: black;
}
.continue_edit_btn{
    border-radius: 5px;
}

/*/////////////////////////UNBLOCK ^^^^//////////////////*/