/*ublockMe///////////////////////////////*/

    .gameBoardDiv{
        width: 600px;
        height: 600px;
        background-image: url("../imgs/dark_embroidery.png");
        border: 2px solid black
    }
    .creationBoardDiv{
        border-radius: 2px;
        border: 2px solid black;
        width: 600px;
        height: 600px;
        background-image: url("../imgs/dark_embroidery.png");
    }

    .gameArea{
        padding: 0;
        width: 600px;
        height: 600px;
    }
    .pieceDiv{
        width: 96vw;
        height: 96vw;
    }

    .gamePiece{
        border: solid;
        box-sizing: border-box;
        position: absolute;
        background-image: url("../imgs/darkness.png");
        border-radius: 3px;
    }
    .starterPiece{
        background-image: url("../imgs/upfeathers.png");
    }

    .dropDownLabel{
        color: rgb(217,83,79);
        font-size: 4vw;
    }

    .form-group-unblock {
        background-color: black;
        height: 10vw;
    }
    .form-control-unblock {
        padding: 0;
        display: inline-block;
        width: 20vw;
        height: 10vw;
        font-size: 4vw;
        text-align: center;
    }
    #typeDropDown{
        background-color: #222;
        border: 2px solid white;
        color: white;
        height: 7vw;
    }
    #sizeDropDown{
        height: 7vw;
        background-color: #222;
        border:2px solid white;
        color: white;
    }
    .create_piece_button{
        border-radius: 5px;
        font-size: 3vw;
    }

    .continue_edit_btn{
        border-radius: 5px;
    }




@media only screen and (max-width: 1025px) {

    .gameBoardDiv {
        width: 100vw;
        height: 100vw;
        background-image: url("../imgs/dark_embroidery.png");
        border: 2px solid black
    }

    .creationBoardDiv {
        border-radius: 2px;
        border: 2px solid black;
        width: 100vw;
        height: 100vw;
        background-image: url("../imgs/dark_embroidery.png");
    }

    .gameArea {
        padding: 0;
        width: 100vw;
        height: 100vw;
    }

    .pieceDiv {
        width: 96vw;
        height: 96vw;
    }

    .gamePiece {
        border: solid;
        box-sizing: border-box;
        position: absolute;
        background-image: url("../imgs/darkness.png");
        border-radius: 3px;
    }

    .starterPiece {
        background-image: url("../imgs/upfeathers.png");
    }

    .dropDownLabel {
        color: rgb(217, 83, 79);
        font-size: 4vw;
    }

    .form-group-unblock {
        background-color: black;
        height: 10vw;
    }

    .form-control-unblock {
        padding: 0;
        display: inline-block;
        width: 20vw;
        height: 10vw;
        font-size: 4vw;
        text-align: center;
    }

    #typeDropDown {
        background-color: #222;
        border: 2px solid white;
        color: white;
        height: 7vw;
    }

    #sizeDropDown {
        height: 7vw;
        background-color: #222;
        border: 2px solid white;
        color: white;
    }

    .create_piece_button {
        border-radius: 5px;
        font-size: 3vw;
    }

    .continue_edit_btn {
        border-radius: 5px;
    }
}


@media only screen and (orientation : landscape) {
    .gameArea{
        display: none;
    }
}
/*/////////////////////////UNBLOCK ^^^^//////////////////*/